<nav>
  <div>
    <h3>
      <img src="/images/home.png" width="30px" height="30px" /><a href="/"
        >stockMgr</a
      >
    </h3>
  </div>
  <div class="right-nav">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/add-product">+Product</a></li>
      <li><a href="/add-category">+Category</a></li>
    </ul>
  </div>
</nav>
