<nav>
  <div>
    <h3><a href="/">stockTrackr</a></h3>
  </div>
  <div class="right-nav">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/add-product">+Product</a></li>
      <li><a href="/add-category">+Category</a></li>
    </ul>
  </div>
</nav>
