<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Inventory Application</title>
  </head>
  <body>
    <div class="header">
      <h3>Hello World!</h3>
      <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/add-product">+Product</a></li>
          <li><a href="/add-category">+Product</a></li>
        </ul>
      </nav>
    </div>
     <form >
        <label for="name"> Category Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="description"> Category Description:</label>
        <textarea id="body" name="description" required></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
