<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="add-product-content">
      <form action="/products" method="POST">
        <label for="name"> Product Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="name"> Stock Keeping Unit (SKU): </label>
        <input type="text" id="sku" name="sku" required />
        <label for="description"> Product Description:</label>
        <textarea id="body" name="description" required></textarea>
        <label for="name"> Price (£):</label>
        <input
          type="number"
          id="cost"
          name="cost"
          step="0.01"
          placeholder="0.00"
          required
        />
        <label for="in stock"> In Stock:</label>
        <input type="checkbox" id="in-stock" name="inStock" checked="true" />
        <label for="name"> Quantity:</label>
        <input type="number" id="quantity" name="quantity" required />
        <label for="category"> Category:</label>
        <input type="text" id="category" name="category" required />
        <button>Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
  <script>
    const inStock = document.getElementById('in-stock');
    const quantityInput = document.getElementById('quantity');

    inStock.addEventListener('click', () => {
      inStock.checked
        ? ((quantityInput.value = 0), (quantityInput.disabled = false))
        : ((quantityInput.value = 0), (quantityInput.disabled = true));
    });
  </script>
</html>
