<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Inventory Application</title>
  </head>
  <body>
    <div class="header">
      <h3>Hello World!</h3>
      <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/add-product">+Product</a></li>
          <li><a href="/add-category">+Category</a></li>
        </ul>
      </nav>
    </div>
    <div class="dashboard-container">
      <div>Total Products</div>
      <div>Total Store Value</div>
      <div>Out of Stock</div>
      <div>All Categories</div>
      Prod details to go here:
      <ul>
        <li>name</li>
        <li>action</li>
        <li>SKU</li>
        <li>Category</li>
        <li>Price</li>
        <li>Quantity</li>
        <li>Value</li>
      </ul>
      Actions:
      <button>edit</button>
      <button>delete</button>
      <button>view</button>
    </div>
  </body>
</html>
