<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="home-page-container">
      <div>
        <h4>Welcome to stockMgr.</h4>
        <h5>Unleash the full potential of your stock, today!</h5>
        <a class="start-link" href="/dashboard">Get started</a>
      </div>
      <img src="images/generic.jpg" class="home-img" />
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
