<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="dashboard-container">
      Welcome to stockTrackr, insert corporate blurb
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
