.delete-product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#delete {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #f77d7d;
  font-size: 30px;
  border-radius: 20px;
}

#delete:hover {
  cursor: pointer;
  background-color: #dc2626;
}

.password-warning {
  color: #dc2626;
}
