.edit-product-content h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

.edit-product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-product-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 300px;
}

.edit-product-content button {
  margin-top: 20px;
  background: #dc2626;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.password-warning {
  color: #dc2626;
}
