.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.dashboard-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  min-height: 10vh;
  gap: 20px;
  padding: 20px;
}

.stat {
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: #fecdd3;
  border: 1px solid black;
  min-width: 300px;
  height: 4em;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
}

.dashboard-icons {
  width: 40px;
  height: 40px;
  padding: 0px 15px 0px 15px;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: flex-end;
  padding-bottom: 20px;
}

.search-form {
  display: flex;
}

.search-container a {
  font-size: 12px;
  border: solid 1px #44403c;
  border-radius: 8px;
  padding: 5px;
  margin-right: 140px;
  background-color: transparent;
  width: 90px;
  transition: background-color 500ms;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search-container a:hover {
  background-color: rgb(195, 248, 235);
}

#product-search {
  padding: 10px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0px 10px 10px 0px;
  border: 1px solid #44403c;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#product-search:focus {
  box-shadow: 0px 0px 10px #d8f8f1;
  border: 1px solid #44403c;
}

.search-button {
  padding: 5px;
  border: 1px solid transparent;
}

.search-button:hover {
  border: 1px solid #44403c;
  border-radius: 50px;
  cursor: pointer;
}

.dynamic-products-container {
  max-height: 500px;
  overflow: auto;
  max-width: 80vw;
  background-color: rgb(255, 255, 255);
}

.products-table,
.product-row {
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: 140px 140px 300px 140px 140px 140px 140px 140px;
  padding: 10px;
}

.table-header,
.table-header-center {
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.product-row {
  padding-left: 8px;
}

.products-table {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.table-header-center {
  text-align: center;
  padding-right: 50px;
}

.actions-row {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: flex-start;
  width: 80%;
}

.actions-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  transition: background 400ms;
}

.actions-containers:hover {
  background: #d8f8f1;
}

.action-icons {
  width: 20px;
  height: 20px;
}

#delete:hover {
  cursor: pointer;
}

.no-prods-found {
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  width: 1280px;
  text-align: center;
}
